Android.gen.bp filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
doxygen filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
meson_options.txt filter=lfs diff=lfs merge=lfs -text
Android.mk filter=lfs diff=lfs merge=lfs -text
aosp-gen-bp.sh filter=lfs diff=lfs merge=lfs -text
build-support filter=lfs diff=lfs merge=lfs -text
VERSION filter=lfs diff=lfs merge=lfs -text
bin filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
REVIEWERS filter=lfs diff=lfs merge=lfs -text
scons filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
prebuilt-intermediates filter=lfs diff=lfs merge=lfs -text
README.rst filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
Android.common.mk filter=lfs diff=lfs merge=lfs -text
meson.build filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
aosp-gen-prebuilt.sh filter=lfs diff=lfs merge=lfs -text
subprojects filter=lfs diff=lfs merge=lfs -text
common.py filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
SConstruct filter=lfs diff=lfs merge=lfs -text
